#!/bin/bash
if [[ "$#" -ne 1]];then
  You must provide the user name of an admin account to create.
else
    UUID=$(dd if=/dev/urandom of=/dev/stdout bs=1 count=100 2>/dev/null |  tr -dc 'a-z0-9' | cut -c-6)
    ROOT_DS=$(zfs list -o name | awk '/ROOT\/{{distro_name}}_/{print $1;exit}')
    zfs create -o com.ubuntu.zsys:bootfs-datasets=$ROOT_DS \
        -o canmount=on -o mountpoint=/home/${1} \
        {{root_pool_name}}/USERDATA/${1}_${UUID}
    adduser ${1}

    cp -a /etc/skel/. /home/${1}
    chown -R ${1}:${1} /home/${1}
    usermod -a -G adm,cdrom,dip,lpadmin,lxd,plugdev,sambashare,sudo ${1}
fi
