---
# [ Start Configuring System ]#################################################
- name: Configure System Block
  when:
    - ansible_nodename != "localhost"
  tags:
    - config_system
  block:
    - name: Copy template files to /mnt/etc/
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ live_cd_mountpoint }}/etc/{{ item }}"
        owner: root
        group: root
        mode: '0644'
      with_items:
        - hostname
        - hosts
      loop_control:
        label: "{{ item }}.j2"

    # Update Netplan Network file - not tested on multiple adapters, might break
    - name: Get Network adapter name on Ubuntu
      ansible.builtin.shell:
        "nmcli device status | grep 'ethernet' | grep 'connected' | cut -d' ' -f1"
      changed_when: nic_name.rc == 0
      register:
        nic_name

    - name: Debug Show Network Adapter Name Detected
      ansible.builtin.debug:
        msg: "{{ nic_name.stdout }}"
      when:
        - debug|default(false)

    - name: Copy netplan template to /mnt/etc/netplan/01-netcfg.yaml
      ansible.builtin.template:
        src: netplan.j2
        dest: "{{ live_cd_mountpoint }}/etc/netplan/01-netcfg.yaml"
        owner: root
        group: root
        mode: '0644'

    # Update sources.list file on Ubuntu
    - name: Copy sources.list template to /mnt/etc/apt/sources.list
      ansible.builtin.template:
        src: sources.list.j2
        dest: "{{ live_cd_mountpoint }}/etc/apt/sources.list"
        owner: root
        group: root
        mode: '0644'
      when:
        - ansible_distribution == 'Ubuntu'

###############################################################################
# [ Start chroot Environment ]#################################################
# Bind Virtual Filesystem from Live CD to New environment
# NOTE: Not using ansible mount module as we don't want these added to fstab
- name: Work in chroot Environment Block
  when:
    - ansible_nodename != "localhost"
  tags:
    - config_system
  block:
    - name: Binding virtual file systems
      ansible.builtin.command:
        cmd: "{{ item }}"
      register: cmd_output
      changed_when: cmd_output.rc == 0
      with_items:
#        - "mount --rbind /dev  {{ live_cd_mountpoint }}/dev"
#        - "mount --rbind /proc {{ live_cd_mountpoint }}/proc"
#        - "mount --rbind /sys  {{ live_cd_mountpoint }}/sys"
        - "mount -t proc /proc {{ live_cd_mountpoint }}/proc"
        - "mount -t sysfs sys  {{ live_cd_mountpoint }}/sys"
        - "mount -B /dev  {{ live_cd_mountpoint }}/dev"
        - "mount -t devpts pts {{ live_cd_mountpoint }}/dev/pts"

    - name: Run chroot command for apt update
      ansible.builtin.command:
        cmd: "{{ chroot_cmd }} bash -c 'apt-get -qq update'"
      register: cmd_output
      changed_when: cmd_output.rc == 0

    - name: Configure chroot Environment
      ansible.builtin.command:
        cmd: "{{ chroot_cmd }} bash -c '{{ item }}'"
      register: cmd_output
      changed_when: cmd_output.rc == 0
      with_items:
        - "locale-gen --purge en_US.UTF-8 {{ locale_prefix }}"
        - "update-locale LANG={{ locale_prefix }}"
        - "dpkg-reconfigure --frontend noninteractive locales tzdata keyboard-configuration console-setup"

###############################################################################
