---
# [MSMTP Mailer SMTP Configuration Secrets ]###################################
# Define Email Address system alerts will be FROM
secret_msmtp_send_from_email: "monitoring@example.com"

# Define Default Email Address to send alerts TO
secret_msmpt_send_to_email: "admin@example.com"

# Define user name to authenticate to SMTP Server with
secret_msmtp_auth_user: "monitoring@example.com"

# Define password for user to authenticate to SMTP Server with
secret_msmtp_auth_password: "smtp!password"

###############################################################################
