#!/bin/bash
#
# Version 1.1 - based off the ZFS on Root LInux Guide
# https://openzfs.github.io/openzfs-docs/Getting%20Started/Ubuntu/Ubuntu%2020.04%20Root%20on%20ZFS.html#overview
#

if [[ "$#" -ne 1 ]]; then
  echo "You must provide a username of a home directory to create."
  exit 1
else
    if [[ -d /home/${1} ]]; then
      echo "Home directory ${1} already exists."
      exit 1
    else
      ROOT_DS=$(zfs list -o name | awk '/ROOT\/{{distro_name}}_/{print $1;exit}')
      UUID=$(echo $ROOT_DS | grep -E -o "{{root_pool_name}}/ROOT/{{distro_name}}_[^/]*{6}$" | rev | cut -c 1-6 | rev)
      zfs create -o com.ubuntu.zsys:bootfs-datasets=$ROOT_DS \
          -o canmount=on -o mountpoint=/home/${1} \
          {{root_pool_name}}/USERDATA/${1}_${UUID}

      adduser ${1}
      cp -a /etc/skel/. /home/${1}
      chown -R ${1}:${1} /home/${1}
      usermod -a -G {{regular_user_groups}} ${1}
    fi
fi
