deb http://deb.debian.org/debian {{ distro_release }} main non-free-firmware
deb-src http://deb.debian.org/debian {{ distro_release }} main non-free-firmware

deb http://security.debian.org/debian-security {{ distro_release }}-security main non-free-firmware
deb-src http://security.debian.org/debian-security {{ distro_release }}-security main non-free-firmware

deb http://deb.debian.org/debian {{ distro_release }}-updates main non-free-firmware
deb-src http://deb.debian.org/debian {{ distro_release }}-updates main non-free-firmware
