deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}} main restricted multiverse
deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}} universe
deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-updates main restricted multiverse
deb http://archive.ubuntu.com/ubuntu {{ubuntu_release}}-backports main restricted multiverse
deb http://security.ubuntu.com/ubuntu {{ubuntu_release}}-security main restricted multiverse
