[Unit]
Description=Import keys for all datasets
DefaultDependencies=no
Before=zfs-mount.service
Before=systemd-user-sessions.service
After=zfs-import.target
### https://gbyte.dev/blog/unlock-mount-several-zfs-datasets-boot-single-passphrase
### With emergency.target if the key cannot be loaded then boot will stop
### This can happen when datasets have different keys, and one or more datasets
### do not have the keys available (backups from remote systems etc.)
### If this system does not have unknown keys, then OnFailure may be enabled
### to ensure a proper stop when missing keys.
# OnFailure=emergency.target

### For now, we only unlock the ROOT encryption dataset which will unlock any child
### datasets under it by default from the ZFS-root.sh script
### If we do NOT specify the datasets here, then zfs-multi-mount.sh will try
### to unlock ALL encrypted datasets it finds.  For those without keys this can
### cause a delay until it times out.

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=zfs-multi-mount.sh --systemd {{ root_pool_name }}/ROOT

[Install]
WantedBy=zfs-mount.service