Global:
  ManageImages: true
  BootMountPoint: {{ efi_boot_mountpoint }}
  DracutConfDir: /etc/zfsbootmenu/dracut.conf.d
  PreHooksDir: /etc/zfsbootmenu/generate-zbm.pre.d
  PostHooksDir: /etc/zfsbootmenu/generate-zbm.post.d
  InitCPIO: false
  InitCPIOConfig: /etc/zfsbootmenu/mkinitcpio.conf
Components:
  ImageDir: {{ zfs_boot_menu_path }}
  Versions: 3
  Enabled: true
  syslinux:
    Config: {{ syslinx_path }}/syslinux.cfg
    Enabled: true
EFI:
  ImageDir: {{ zfs_boot_menu_path }}
  Versions: 2
  Enabled: false
Kernel:
  CommandLine: zbm.prefer={{ root_pool_name }} ro quiet loglevel=0